*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: white;
    width: 99%;
    margin: 0 auto;
}
.above{
    float:right;
    word-spacing: 15px;
}
.home{
    background-color: rgb(208, 188, 188);
    width:100%;
    margin-top: 20px;
    height: 250px;
}
.head{
    width: 33%;
    float: left;
    height: 100%;
    margin-left: 120px;
    margin-right: 20px;
    margin-top: 50px;
}
.pic{
    width: 38%;
    float: left;
    height: 100%;
    margin-top: auto;
}
.pic img{
    height: 100%;
    width: 100%;
}
.about{
background-color:rgb(250, 242, 227);
width:100%;
height: 120px;
}
.b{
float: left;
word-spacing: 10px;
margin-top: 10px;
}
.gallery{
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 50px;
}
.gallery-row{
    height:200px;
}
.image{
    width: 20%;
    float: left;
    height: 150px;
    margin-left: 20px;
}
.image img{
    height:100%;
    width:100%
}
.main{
background-image:url("https://i.pinimg.com/736x/79/fd/be/79fdbef89d28d988ddb1e09799095707.jpg");
width:100%;
height:300px;
margin-top: 30px;
}
.st{
    background-color: rgb(137, 124, 100);
    width:50%;
    height:200px;
    margin-left: 300px;
}
.blog{
    margin-top: 30px;
    margin-left: 180px;
    width: 70%;
    height: 220px;
}
.picture{
    margin-top:10px;
    width: 50%;
    float: left;
    height: 190px;
}
.picture img{
    height: 150px;
    width: 98%;
}
.footer{
    background-color: beige;
    height:500px;
    margin-top: 40px;
}
.write{
    margin-left: 20px;
    width: 30%;
    float: left;
    height: 100%;
    margin-right: 20px;
    margin-top: 20px;
}
.next{
    width: 35%;
    float: left;
    height: 100%;
    margin-top: 20px;
    margin-left: 50px;
}
.more{
    height: 100%;
    margin-top: 20px;
    margin-right: 70px;
    float: right;
}